*{
margin:0;
padding:0;
}
body{
	font-size:20px;
	background-color:gray;
}
.header{
	color:white;
	width:30%;
	margin:50px auto 0px;
	background:indigo;
	text-align:center;
	border:2px solid black;
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
	padding:20px;
}
form{
	width:30%;
	margin:2px auto;
	padding:20px;
	border:2px solid black;
	background-color:white;
	border-radius:0px 0px 10px 10px;
}
.input-group{
	margin:10px 0px 10px 0px;
}
.input-group label{
	display:block;
	text-align:left;
	margin:3px;
}
.input-group input{
	height:30px;
	width:93%;
	padding:5px 10px;
	font-size:16px;
	border-radius:5px;
	border:1px solid gray;	
}
.btn button{
	padding:10px;
	font-size:15px;
	background-color:gray;
	border:none;
	border-radius:5px;
	width:50%;
}
a{
	color:red;
	display:block;	
}
a:hover{
	color:blue;
	font-size:22px;
}